# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
.env

.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# Django migrations
**/migrations/*.py
!**/migrations/__init__.py
__pycache__/
*.py[cod]
.venv/
.env

